html, body {
    height: 100%;
    width: 100%;
}

.mainContent {
    margin: 8px;
    height: 100%;
    margin-bottom: 40px;
    margin-left: 230px;
}

body {
    font-family: sans-serif;
    background: linear-gradient(180deg,rgba(62, 71, 43, 1) 0%, rgba(132, 133, 118, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    text-shadow: 1px 2px 8px black;
}

a {
    color: lightblue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #848575;
    padding: 8px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    white-space: wrap;
    box-sizing: border-box;
}

footer a {
    color: lightblue;
}
table.index-table {
    display: block;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    border-style: solid;
    border-width: 4px;
    border-color: #848575;
    height: 100%;
    width: 220px;
    background-color: #848575;
    line-height: 120px;
}

.homeLinks {
    -webkit-text-stroke: 3px white;
    color: #3e472b;
    paint-order: stroke;
    font-size: 24px;
    font-weight: bold;
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
}

@media screen and (max-width: 1000px) { /* Smaller screens/mobile. Horizontal navigation */
    .mainContent {
        margin-left: 8px;
    }
    table.index-table {
        display: block;
        overflow-x: auto;
        position: fixed;
        top: 0;
        left: 0;
        float: left;
        border-style: solid;
        border-width: 4px;
        border-color: #848575;
        height: 40px;
        width: 100%;
        max-width: 1000px; 
        background-color: #848575;
        line-height: 40px;
        visibility: hidden;
    }
    header { 
        visibility: visible;
        background-color: #848575; 
        padding-top: 15px; 
        padding-bottom: 15px; 
        word-spacing: 25px;
    }
    #orderingImage {
        display: none;
    }
}
@media screen and (min-width: 1000px) { /* Larger screens. Vertical navigation */
    header {
        display: none;
        background-color: #848575;
    }

}

#pizza {
    width: 100%;
    padding-top: 55px;
}