body {
    font-family: sans-serif;
    background-color: #475651;
    color: white;
}

#background {
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: -1;
    width: 90%;
    min-height: 100%;
    object-fit: cover;
}

#home {
    background-color: #3e472b;
    margin: 5%;
    display: inline-block;
    padding: 12px;
}

a {
    color: lightblue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #848575;
    padding: 8px;
    text-align: center;
    display: inline-block;
    color: white;
    white-space: wrap;
    box-sizing: border-box;
}

footer a {
    color: lightblue;
}
table.index-table {
    float: left;
    border-collapse: collapse;
}