html, body {
    height: 100%;
    width: 100%;
}

.mainContent {
    margin: 8px;
    height: 100%;
    margin-bottom: 40px;
}

body {
    font-family: sans-serif;
    background-color: #475651;
    color: white;
    margin: 0;
}

#background {
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: -1;
    width: 90%;
    min-height: 100%;
    object-fit: cover;
}

#home {
    background-color: #3e472b;
    margin: 5%;
    display: inline-block;
    padding: 12px;
}

a {
    color: lightblue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #848575;
    padding: 8px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    white-space: wrap;
    box-sizing: border-box;
}

footer a {
    color: lightblue;
}
table.index-table {
    display: block;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    border-style: solid;
    border-width: 4px;
    border-color: #848575;
    height: 100%;
    width: 12%;
    max-height: 1000px; 
    background-color: #848575;
    line-height: 200px;
}

.homeLinks {
    -webkit-text-stroke: 3px white;
    color: #3e472b;
    paint-order: stroke;
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 1000px) { /* Smaller screens/mobile. Horizontal navigation */
table.index-table {
    display: block;
    overflow-x: auto;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    border-style: solid;
    border-width: 4px;
    border-color: #848575;
    height: 40px;
    width: 100%;
    max-width: 1000px; 
    background-color: #848575;
    line-height: 40px;
    visibility: hidden;
}
}